<div class="search-results" *ngIf="topics.length else empty">
    <strong>Resultado de busca</strong>
    <div class="topic" *ngFor="let topic of topics" [ngClass]="{'active': topic.active}">
        <div class="topic__header">
            <strong class="topic__name">{{ topic.display_name }}</strong>
            <a (click)="activateClass(topic)" class="topic__action">Ver detalhes da ação<i class="material-icons">expand_more</i></a>
        </div>
        <div class="topic__description">
            <p class="topic__content">{{ topic.description }}</p>
            <a (click)="openModal()" class="topic__ver-mais">VER MAIS</a>
        </div>
    </div>
    <app-modal class="modal"></app-modal>
</div>
<ng-template #empty>
    <div class="empty-search">
        <img class="empty-search__image" src="/assets/images/empty-search.svg">
        <strong class="empty-search__text">Você ainda não realizou<br>nenhuma busca!</strong>
    </div>
</ng-template>
