.search {
  margin: 20px 0;
  &__input {
    appearance: none;
    border: 0;
    box-shadow: none;
    height: 65px;
    width: 620px;
    font-size: 18px;
    padding: 20px;
    border-radius: 3px 0 0 3px;
  }
  &__button {
    width: 110px;
    font-size: 0;
    color: transparent;
    background: #f6d555;
    border-radius: 0 3px 3px 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    outline: none;

    &:hover {
      background: lighten(#f6d555,10%);
    }
    .material-icons {
      color: #fff;
      font-size: 34px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .search {
    &__input {
      width: 80%;
      font-size: 12px;
    }
    &__button {
      width: 20%;
      min-width: 70px;
      // width: 20%;
    }
  }
}
